
.centerSection button{
    /* padding: 0rem 1.5rem; */
    /* font-size: 0.875rem; */
}

.buttonSelected{
    color: #0292B1;
}

.navContact{
    border: 1px solid #0292B1;
    margin-left: auto;
    height: 40px;
    padding: 0px 1rem;
    border-radius: 5px;
    color: #0292B1;
}