@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  background-color: white;
  border: none;
  color: #484848;
  text-decoration: none;
  font: inherit;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: underline;
  color: #0292b1;
}

a:visited {
  color: #0292b1;
}