body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Oswald';

}

button{
  background-color: white;
  border: none;
}

h1{
  margin: 0;
}
p{
  margin: 0;
}

a {
  color: #0292B1;
}

a:visited {
  color: #0292B1;
}

html {
  scroll-behavior: smooth;
}